html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}
.content-inside {
  padding: 20px;
  padding-bottom: 50px;
}
.footer {
  flex-shrink: 0;
}
.full-height {
  height: 100%;
}

#sticky-footer {
  flex-shrink: none;
}
